@model IEnumerable<GameRealm.Domain.Model.Games>

@{
    ViewData["Title"] = "Games";
}

<h1>List Of Games</h1>
<p>
    <div class="align-content-center">
        <a class="btn" asp-area="" asp-controller="Orders" asp-action="Create">Place an Order</a><a class="btn" asp-area="" asp-controller="Orders" asp-action="Index">Show Orders</a><a class="btn" asp-area="" asp-controller="Locations" asp-action="Index">Show Locations</a><a class="btn" asp-area="" asp-controller="Customers" asp-action="Index">List of Subscribers</a>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>