@model IEnumerable<GameRealm.Domain.Model.Orders>



<h1>Order History</h1>
<br />
<form class="table" asp-controller="Orders" asp-action="CustOrderSearch">
    <p>
        <label for="search"><b>Search Order</b></label>
        <input type="text" placeholder="Search" name="SearchString" required>
        <input type="submit" value="Search" required>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checkout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Checkout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>