@model IEnumerable<GameRealm.Domain.Model.Orders>

@{
    ViewData["Title"] = "Orders";
}

<h1>Customer Orders</h1>
<br />
<form class="container" asp-controller="Orders" asp-action="CustOrderSearch">
    <p>
        Search Order: <input type="text" name="SearchString">
                      <input type="submit" value="Search" />
    </p>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Store)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Checkout)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Store.StoreName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Checkout)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
