@model IEnumerable<GameRealm.Domain.Model.Locations>

@{
    ViewData["Title"] = "Index";
}

<h1>Game Realm Locations</h1>
<br />
<p>
    <div class="align-content-center">
        <a class="btn" asp-area="" asp-controller="Inventory" asp-action="index">Show all Inventory</a>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.StoreId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
